<h1>나의 게시글 페이지</h1>
<%= link_to '새 글 쓰기', "/new" %><br><br>

<%@posts.each do |post|%>
    <h2><%=post.title%></h2>
    <%=post.content%><br>
    
    <%= link_to '[삭제]', {controller: "posts", action: "destroy", post_id: @posts.ids} %>
    <%= link_to '[수정]', {controller: "posts", action: "edit", post_id: @posts.ids} %>
    
    <%= form_tag({controller: "comments", action: "create", post_id: @posts.ids}, method:"POST") do %>
        <%= text_field_tag (:content)%>
        <%=submit_tag "댓글 작성"%><br>
    <%end%>  
    
    <br>
    
    <% post.comments.each do |comment| %>
      <h3>댓글임: <%=comment.content%></h3>
      <%=link_to '[삭제]',{controller: "comments", action: "destroy", post_id: post.ids, comment_id: post.comments.ids} %><br>
    <% end %>
<% end %>   